h1= title

p 
  | Source:
  a(href="https://github.com/christianreyes/simple-chat", target="_blank") https://github.com/christianreyes/simple-chat

h2 Messages:
ul

input{:type => "text"}
button Send
