!!!
html
  head
    title= title
    script(src="socket.io/socket.io.js")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/application.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body